<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:theme="@style/Theme.QualANota"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".MainApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:targetApi="31">

        <activity
            android:exported="true"
            android:label="Koala a Nota?"
            android:name=".ui.home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:exported="false"
            android:label="Nova Avaliação"
            android:name=".ui.itemreview.NewItemReviewActivity" />

        <activity
            android:exported="false"
            android:label="Editar Avaliação"
            android:name=".ui.itemreview.EditItemReviewActivity" />

        <activity
            android:exported="false"
            android:label="Lugares"
            android:name=".ui.itemowner.OwnerListActivity" />

        <activity
            android:exported="false"
            android:label="Novo Lugar"
            android:name=".ui.itemowner.NewItemOwnerActivity" />

        <activity
            android:exported="false"
            android:label="Editar Lugar"
            android:name=".ui.itemowner.EditItemOwnerActivity" />

    </application>

</manifest>